@model Mudi_Models.ViewModels.DetailsVM
@using Mudi_Utility

<div class="">
    <form method="post">
        <input asp-for="@Model.Product.Id" hidden />
        <div class="container backgroundWhite pt-4">
            <div class="card" style="border:1px solid #000000; ">
                <div class="card-header bg-dark text-light ml-0 row container" style="border-radius: 0px;">
                    <div class="col-12 col-md-6">
                        <h1 class="text-white">@Model.Product.Name</h1>
                    </div>
                    <div class="col-12 col-md-6 text-md-right">
                        <h1 class="text-warning"><span> ৳ </span> @((Model.Product.Price))</h1>
                    </div>
                </div>
                <div class="card-body">
                    <div class="container rounded p-2">
                        <div class="row">
                            <div class="col-12 col-lg-4 p-1 text-center">
                                <img src="@Mudi_Utility.WC.ImagePath@Model.Product.Image" width="100%" class="rounded" />
                            </div>
                            <div class="col-12 col-lg-8">
                                <div class="row pl-3">

                                    <div class="col-12">
                                        <span class="badge p-3 border text-dark" style="background-color:lavenderblush">@Model.Product.Category.Name</span>
                                        <h3 class="text-success"></h3>

                                        <p class="text-secondary">@Html.Raw(Model.Product.Description) </p>
                                    </div>

                                    <div class="col-12">
                                        Quantity:
                                    </div>
                                    <div class="col-12">
                                        @if (Model.ExistsInCart)
                                        {
                                            <input asp-for="@Model.Product.TempQty" disabled class="form-control" />
                                        }
                                        else
                                        {
                                            <input asp-for="@Model.Product.TempQty" class="form-control" />
                                        }
                                        <span asp-validation-for="@Model.Product.TempQty" class="text-danger"></span>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer bg-dark">
                    <div class="row">
                        <div class="col-12 col-md-4 ">

                            <a class="btn btn-danger w-100 form-control btn-lg"
                               asp-controller="WishList" asp-action="Add" asp-route-id="@Model.Product.Id">
                                Add to Wishlist <i class="far fa-heart"></i>
                            </a>

                        </div>

                        <div class="col-12 col-md-4 ">

                            <a class="btn w-100 btn-success form-control btn-lg"
                               asp-controller="Home" asp-action="Index">
                                Back to Products
                            </a>
                        </div>

                        <div class="col-12 col-md-4 ">
                            @if (Model.ExistsInCart)
                            {
                                <a asp-action="RemoveFromCart" asp-route-id="@Model.Product.Id" class="btn btn-warning btn-square form-control btn-lg" style="height:50px;">Remove from Cart</a>
                            }
                            else
                            {

                                <button type="submit" asp-route-id="@Model.Product.Id" class="btn btn-info form-control btn-lg" style="height:50px;">Add to Cart</button>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}
